.container {
    background-color: #cdd0bc;
    width: 500px;
    height: 700px;

    div {
        width: 100%;
        height: 100%;

        .preview {
            width: 100%;
            background-color: white;
            height: 6%;
            font-size: 20px;
            text-align: right;
            vertical-align: bottom;
        }



        .res {
            background-color: white;
            border-style: hidden;
            width: 100%;
            height: 30%;
            font-size: 50px;
            font-weight: bolder;
            text-align: right;
            outline: none;
            vertical-align: top;
        }

        .btn {
            width: 100%;
            background-color: rgb(243, 243, 243);
            height: 64%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            .blu {
                background-color: rgba(0, 90, 158, 0.886);
                border-radius: 5px 5px 5px 5px;
                border-width: 1px;
                border-color: rgb(228, 228, 228);
                width: 24.5%;
                height: 16%;
                font-size: 40px;
                color: white;
            }

            .grey {
                background-color: rgb(249, 249, 249);
                border-radius: 5px 5px 5px 5px;
                border-width: 1px;
                border-color: rgb(228, 228, 228);
                width: 24.5%;
                height: 16%;
                font-size: 23px;
            }
        }
    }
}